<div class="footer">
    <div class="row">
        <div class="col-md-4 col-xs-4 top">
            <a class="link" href="#home"><p class="top-txt">Back to top of page</p></a>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="icons">
                <a href="https://github.com/amkumar645" target="_blank"><fa-icon [icon]="faGithub" class="icon fa-3x"></fa-icon></a>
                <a href="https://www.linkedin.com/in/arnav-kumar-9816601bb/" target="_blank"><fa-icon [icon]="faLinkedIn" class="icon icon-middle fa-3x"></fa-icon></a>
                <a href="mailto:amkumar@princeton.edu"><fa-icon [icon]="faMail" class="icon fa-3x"></fa-icon></a>
              </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <p class="update-txt">Last updated by Arnav Kumar on Jan 11, 2021</p> </div>
    </div>

    
    
    
</div>
