<div class="about">
    <div class="row">
        <div class="col-md-4 col-xs-12 pfp">
            <img class="pfp-img" src="assets/pfp-circle.png">
        </div>
        <div class="col-md-8 col-xs-12 desc">
            <h1 class="desc-title">Hi! I'm Arnav Kumar.</h1>
            <p class="desc-desc">
                I'm a current undergraduate at Princeton University majoring in 
                Operations Research and Financial Engineering. My main interests 
                include software/web development, data analytics, and machine 
                learning. My fascination with coding first started in high school, 
                but I really got into programming after taking an 
                Algorithms and Data Structures course at Princeton.
            </p>
            <p class="desc-desc">
                Currently, I work as a part-time full stack 
                consultant at RIA Advisory, but I'm always looking for more ways
                to improve and apply my coding skills, so feel free to contact
                me if you're interested or have any questions!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 skills">
            <div><h2 class="skill-title"><u>Technical Skills</u></h2></div>
            <div class="row">
                <div class="col skill-col">
                   <ul type="circle">
                       <li>Java</li>
                       <li>Angular</li>
                       <li>Python</li>
                       <li>R</li>
                   </ul>
                </div>
                <div class="col year-col">
                    <ul type="none">
                        <li>3+ Years</li>
                        <li>1+ Years</li>
                        <li>1+ Years</li>
                        <li>3+ Years</li>
                    </ul>
                </div>
            </div>
            <div class="skill-bot"><h2 class="skill-bot-txt"><b>Want to see more?</b></h2></div>
            <div class="resume-btn">
                <button type="button" class="btn btn-primary">
                    <a href="assets/Resume.pdf" target="_blank">
                        <fa-icon [icon]="faDownload" class="icon resume-icon"></fa-icon>
                        <span class="resume-txt">     RESUME</span>   
                    </a>
                </button>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 interests">
            <div><h2 class="int-title"><u>Hobbies and Interests</u></h2></div>
            <ul type="none" class="interest-list">
                <li>- Watching/playing basketball and football</li>
                <li>- Having a cat (she's really cute)</li>
                <li>- Watching sitcoms (almost all of them)</li>
                <li>- Playing ukulele</li>
            </ul>
            <div class="skill-bot"><h2 class="skill-bot-txt">Want to talk?</h2></div>
            <div class="resume-btn">
                <button type="button" class="btn btn-primary">
                    <fa-icon [icon]="faUsers" class="icon resume-icon"></fa-icon>
                    <span>   CONTACT ME</span>
                </button>
            </div>
        </div>
    </div>
</div>


