<div *ngIf="!medium" class="experience">
    <div><h1 class="title">Work Experience</h1></div>
    <div class="row">
        <div class="col-md-6 col-xs-12 left">
            <div class="comp-left">
                <div class="comp-img-left">
                    <img class="comp-img" src="assets/RIA.png">
                </div>
                <div class="blue">
                    <h2 class="comp-title"><a href="https://riaadvisory.com/" target="_blank">RIA Advisory</a></h2>
                </div>
                <div class="comp-time">
                    <p>Part Time Full-Stack Consultant</p>
                    <p class = "yellow">Jun 2021 - Jan 2022</p>
                </div>
                <div class="comp-desc-left">
                    I started as an intern and created a recruitment management system with Angular/Spring. 
                    I was hired as a full-stack consultant in Aug 2021 and applied
                    Angular/Spring again to develop validation and external user interfaces
                    for the test automation software.
                </div>
                <div class="comp-img-left">
                    <img class="comp-img" src="assets/ORFE.png">
                </div>
            </div>
            <div class="space-2"></div>
            <div class="comp-left">
                <div class="comp-img-left">
                    <img class="comp-img" src="assets/Sandesham.png">
                </div>
                <div class="blue">
                    <h2 class="comp-title"><a href="https://www.sandesham.org/" target="_blank">Sandesham</a></h2>
                </div>
                <div class="comp-time">
                    <p>Website Administrator</p>
                    <p class = "yellow">Jun 2018 - Nov 2020</p>
                </div>
                <div class="comp-desc-left">
                    I designed and updated a website for Sandesham, a nonprofit organization in India
                    with the goal of providing free education to low-income students in the region. 
                </div>
            </div>
            <div class="space-3"></div>
        </div>
        <div class="col-md-6 col-xs-12 right">
            <div class="space-1"></div>
            <div class="comp-right">
                <div class="blue">
                    <h2 class="comp-title"><a href="https://orfe.princeton.edu/" target="_blank">Princeton ORFE Department</a></h2>
                </div>
                <div class="comp-time">
                    <p>Undergraduate Course Assistant</p>
                    <p class = "yellow">Sep 2021 - Dec 2021</p>
                </div>
                <div class="comp-desc-right">
                    After completing ORF245: Fundamentals of Statistics, I was hired as an
                    undergraduate course assistant with responsibilities such as grading, teaching, and 
                    monitoring the online discussion forum.
                </div>
            </div>
        </div>
    </div>
    <div><h1 class="title">Education</h1></div>
    <div class ="row">
        <div class="col-md-4">
            <div class="school-img"><img class="school-img-img" src="assets/Pton.png"></div>
            <div class="school-img"><img class="school-img-img" src="assets/AHS.png"></div>
        </div>
        <div class="col-md-8">
            <div class="school">
                <div class="blue">
                    <h2 class="comp-title"><a href="https://www.princeton.edu/" target="_blank">Princeton University</a></h2>
                </div>
                <div class="yellow school-desc">
                    <p>Aug 2020 - May 2024</p>
                </div>
                <p class="school-text"><i class="blue">Major:</i>&ensp;Operations Research and Financial Engineering</p>
                <p class="school-text"><i class="blue">Potential Minors:</i>&ensp;Applications in Computing, Statistics and Machine Learning, Finance</p>
                <p class="school-text"><i class="blue">Relevant Courses:</i>&ensp;Algorithms and Data Structures, Introduction to Programming Systems, 
                    Probability and Stochastic Systems, Econometrics</p>
                <p class="school-text"><i class="blue">Organizations:</i>&ensp;Hoagie (Software Development), Princeton Data Science, Princeton Ethics In Engineering</p>
            </div>
            <div class="school school-2">
                <div class="blue">
                    <h2 class="comp-title"><a href="https://www.ahschool.com/broward-campus" target="_blank">American Heritage Plantation</a></h2>
                </div>
                <div class="yellow school-desc">
                    <p>Aug 2016 - May 2020</p>
                </div>
                <p class="school-text"><i class="blue">Degree:</i>&ensp;High School Diploma</p>
                <p class="school-text"><i class="blue">Honors/Awards:</i>&ensp;Valedictorian, National Merit Finalist, Presidential Scholar Candidate, National AP Scholar</p>
                <p class="school-text"><i class="blue">Organizations:</i>&ensp;Mu Alpha Theta (VP), Linguistics (President), Physics Bowl, Science Bowl, Quiz Bowl</p>
            </div>
        </div>
    </div>
</div>









<div *ngIf="medium" class="experience">
    <div><h1 class="title-small">Work Experience</h1></div>
    <div class="comp-small">
        <div>
            <img class="comp-small-img" src="assets/RIA.png">
        </div>
        <div class="blue">
            <h2 class="comp-small-title"><a href="https://riaadvisory.com/" target="_blank">RIA Advisory</a></h2>
        </div>
        <div class="comp-small-time">
            <p>Part Time Full-Stack Consultant</p>
            <p class = "yellow">Jun 2021 - Jan 2022</p>
        </div>
        <div class="comp-small-desc">
            I started as an intern and created a recruitment management system with Angular/Spring. 
            I was hired as a full-stack consultant in Aug 2021 and applied
            Angular/Spring again to develop validation and external user interfaces
            for the test automation software.
        </div>
    </div>
    <div class="comp-small">
        <div>
            <img class="comp-small-img" src="assets/ORFE.png">
        </div>
        <div class="blue">
            <h2 class="comp-small-title"><a href="https://orfe.princeton.edu/" target="_blank">Princeton ORFE Department</a></h2>        </div>
        <div class="comp-small-time">
            <p>Undergraduate Course Assistant</p>
            <p class = "yellow">Sep 2021 - Dec 2021</p>
        </div>
        <div class="comp-small-desc">
            After completing ORF245: Fundamentals of Statistics, I was hired as an
            undergraduate course assistant with responsibilities such as grading, teaching, and 
            monitoring the online discussion forum.
        </div>
    </div>
    <div class="comp-small">
        <div>
            <img class="comp-small-img" src="assets/Sandesham.png">
        </div>
        <div class="blue">
            <h2 class="comp-small-title"><a href="https://www.sandesham.org/" target="_blank">Sandesham</a></h2>
        </div>
        <div class="comp-small-time">
            <p>Website Administrator</p>
            <p class = "yellow">Jun 2018 - Nov 2020</p>
        </div>
        <div class="comp-small-desc">
            I designed and updated a website for Sandesham, a nonprofit organization in India
            with the goal of providing free education to low-income students in the region. 
        </div>
    </div>
    <div><h1 class="title-small">Education</h1></div>
    <div class="edu-small">
        <div>
            <img class="comp-small-img" src="assets/Pton.png">
        </div>
        <div class="blue">
            <h2 class="comp-small-title"><a href="https://www.princeton.edu/" target="_blank">Princeton University</a></h2>
        </div>
        <div class="comp-small-time">
            <p class = "yellow">Aug 2020 - May 2024</p>
        </div>
        <div class="comp-small-desc">
            <p><i class="blue">Major:</i>&ensp;Operations Research and Financial Engineering</p>
            <p><i class="blue">Potential Minors:</i>&ensp;Applications in Computing, Statistics and Machine Learning, Finance</p>
            <p><i class="blue">Relevant Courses:</i>&ensp;Algorithms and Data Structures, Introduction to Programming Systems, 
                    Probability and Stochastic Systems, Econometrics</p>
            <p><i class="blue">Organizations:</i>&ensp;Hoagie (Software Development), Princeton Data Science, Princeton Ethics In Engineering</p>
        </div>
    </div>
    <div class="edu-small">
        <div>
            <img class="comp-small-img" src="assets/AHS.png">
        </div>
        <div class="blue">
            <h2 class="comp-small-title"><a href="https://www.ahschool.com/broward-campus" target="_blank">American Heritage Plantation</a></h2>
        </div>
        <div class="comp-small-time">
            <p class = "yellow">Aug 2016 - May 2020</p>
        </div>
        <div class="comp-small-desc">
            <p><i class="blue">Degree:</i>&ensp;High School Diploma</p>
            <p><i class="blue">Honors/Awards:</i>&ensp;Valedictorian, National Merit Finalist, Presidential Scholar Candidate, National AP Scholar</p>
            <p><i class="blue">Organizations:</i>&ensp;Mu Alpha Theta (VP), Linguistics (President), Physics Bowl, Science Bowl, Quiz Bowl</p>
        </div>
    </div>
</div>