<div class="project">
    <div><h1 class="title">Programming Projects</h1></div>
    <div class="grid-container">
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/Seam3.png" (click)="openDialog('Seam')">
                <div class="img-txt"><p>Seam Carver</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/8Puzzle2.png" (click)="openDialog('Slider')">
                <div class="img-txt"><p>Slider Puzzle Solver</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/Piel.png" (click)="openDialog('Piel')">
                <div class="img-txt"><p>Piel: AI Skincare Detection App</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/Web.png" (click)="openDialog('PW')">
                <div class="img-txt"><p>Personal Website</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/NBA.png" (click)="openDialog('NBA')">
                <div class="img-txt"><p>NBA Player Comparer</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/RMS.png" (click)="openDialog('RMS')">
                <div class="img-txt"><p>Recruitment Management System</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/Scraping.png" (click)="openDialog('Web')">
                <div class="img-txt"><p>Web Scrapers</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/File.png" (click)="openDialog('FT')">
                <div class="img-txt"><p>File Tree</p></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <img class="proj-img" src="assets/Image.png" (click)="openDialog('Image')">
                <div class="img-txt"><p>Image Classifier</p></div>
            </div>
        </div>
      </div>
</div>
